<%- include ("../../partials/header.ejs"); %>
<body>
    <%- include ("../../partials/nav.ejs"); %>
    <div class="container">
        <div class="card" id="marg">
            <div class="card-header">
                <form method="POST" action="/polls/save">
                    <h3>Crie sua enquete</h3>
                    <span style="font-style: italic ;">Minimo 3 opções</span>
                    <hr>
                    <input class="form-control" type="text" placeholder="Digite O tema da enquete" name="title" required>
                    <br>
                    <input class="form-control"  type="text" placeholder="Primeira opção" name="option1" required>
                    <br>
                    <input class="form-control"  type="text" placeholder="Segunda opção" name="option2" required>
                    <br>
                    <input class="form-control"  type="text" placeholder="Terceira opção" name="option3" required>
                    <br>
                    <label>Data de Inicio</label>
                    <input class="form-control" type="date" name="init" required>
                    <br>
                    <label>Data de Termino</label>
                    <input class="form-control" type="date" name="end" required>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ("../../partials/footer.ejs"); %>
